body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;

}

.rightNav {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftNav {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #124265;
    gap: 30px;
}

.home {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
}

.leftHome {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rightHome {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
}

.footer img {
    width: 100px;
}

.btn-foot {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #2487ce;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}